.choose-position .select2-container {
	width: 100% !important;
  }
  
  .choose-position .select2-container--default .select2-selection--single {
	width: 100% !important;
	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 50px;
	line-height: 50px;
	font-weight: 500;
	font-size: 16px;
	background-color: #fafafa;
	border: 1px solid #eeeeee;
	border-radius: 25px;
	transition: 0.1s;
  }
  

  .choose-position .select2-results__option {
	display: flex;
	align-items: center;
  }
  
  .choose-position .select2-results__option .img-flag {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
  }
  
  .choose-position .select2-container--default.select2-container--focus .select2-selection--single {
	border: 1px solid #c9c9c9 !important;
	outline: 0;
  }
  
  .choose-position span.select2-selection.select2-selection--single {
	outline: none;
  }
  
  .choose-position .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	width: 35px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 20px rgba(35, 49, 45, 0.14);
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
	background-image: url(https://cdn4.iconfinder.com/data/icons/user-interface-174/32/UIF-76-512.png);
	background-color: transparent;
	background-size: contain;
	border: none !important;
	height: 20px !important;
	width: 20px !important;
	margin: auto !important;
	top: auto !important;
	left: auto !important;
  }